h1,h2,h3,h4,h5,h6{
    font-family: 'Alegreya', serif;
    /* font-family: 'Alegreya Sans', sans-serif; */
    font-size: 30px;
    font-weight: 400;
}
.content.container{
    padding: 1vw;
}
.content.container *{
    width: 50%;
    margin: auto;
    padding: 1vw;
}
.content.container li{
    padding: 0;
    width: 90%;
    list-style-type: disc;
    font-family: 'Alegreya', serif;
}
.content h1{
    text-align: center;
    font-size: 40px;
    /* font-family: 'Architects Daughter', serif; */
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding: 1vw;
}
.content p{
    font-family: 'Alegreya', serif;
}
.content p:nth-last-child(1),
.content p:nth-last-child(2){
    padding-top: 0;
}
.content.container a{
    font-family: 'Alegreya', serif;
    padding: 0;
}